<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}
        {% endblock %} | LazyBlog
    </title>

    {% block stylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/lazyblog/css/main.css') }}"/>
</head>
<body>
{% block body %}
{% endblock %}

{% block javascripts %}
{% endblock %}

</body>
</html>